.download-button { 
    /* no need for printing the download button so hide it by default and show it for screens below */
    display: none; 
}

@media screen {
    .download-button { 
        display: block; 
        float: right;
        margin-bottom: 20px;
    }
}

@media screen,print {
    .reportContent {
        padding-top: 10px;
    }

    /* Table */
    .numeric {
        text-align: right;
    }

    .st-sort-ascent:before{
        content: '\25B2';
    }

    .st-sort-descent:before{
        content: '\25BC';
    }

    .redText {
        color: red;
    }

    /* Navigation Layout */
    .rightNav {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        right: 0;
        background-color: #F2F2F2;
        padding-top: 8px;
        padding-bottom: 20px;
        overflow: auto;
        transition: 0.5s;
        top: 0px;
    }

    .leftNav {
        height: 100%;
        width: 350px;
        position: fixed;
        z-index: 1;
        left: 0;
        background-color: #F2F2F2;
        padding-top: 0px;
        padding-bottom: 60px;
        overflow: auto;
        transition: 0.2s;
        top: 0px;
    }

    .navItem {
        margin-left: 5px;
        margin-right: 5px;
        overflow: visible;
    }

    .navIcon {
        text-decoration: none;
        color: #276696;
        position: absolute;
        font-size: 20px;
        top: 10px;
    }
    
    /* Layout for global shell mode */
    body:not(.standalone) #header {
        display: none !important;
    }
    
    .ng-scope #content {
        margin: 42px 10px 10px 360px !important;
    } 
    
    .mainView {
        margin-top: 0;
    }
    
    #leftNav .navIcon,
    #rightNav .navIcon {
        margin-top: 0px;
    }

	/* Remove any margin from ng-view itself */
    .mainView > [ng-view] {
        margin-top: 0px;
    }
    
    /* layout for standalone mode */
    .standalone .leftNav, 
    .standalone .rightNav {
        top: 48px;
    }
    
    .standalone .navIcon {
        top: 58px;
    }
    
    .standalone .ng-scope #content {
        margin: 90px 10px 10px 360px !important;
    }
    
    .standalone .mainView {
        margin-top: 48px;
    }
    
    .standalone #leftNav .navIcon,
    .standalone #rightNav .navIcon {
        margin-top: -50px;
    }

    .standalone .mainView > [ng-view] {
        margin-top: 48px;
    }

	/* GENERAL */
	.ui-select-multiple.ui-select-bootstrap {
		min-height: 34px;
		height: auto;
		padding: .3em;
	}
	.ui-select-toggle { /*Overwrite bootstrap btn alignment*/
		text-align: left;
	}

	.minimized {
		font-size: 90%;
		width: auto !important;
	}



}


/* these should match colors.js */
.success { /*dark green*/
	background-color: rgba(0,120,0,0.3) !important;
}
.info { /*light green*/
	background-color: rgba(120,255,120,0.3)  !important;
}
.warning { /*yellow*/
	background-color: rgba(255,255,80,0.5)  !important;
}
.danger { /*red*/
	background-color: rgba(255,35,35,0.5)  !important;
}
