@media screen,print {

	.reportContent {
		padding-top: 10px;
		margin-left: 350px;
	}

	/* The side navigation menu */
	.leftNav {
		height: 100%;
		width: 350px;
		position: fixed;
		z-index: 1;
		top: 48;
		left: 0;
		background-color: #F2F2F2;
		padding-top: 10px;
		overflow: scroll;
		transition: 0.2s;
	}

	.navItem {
		margin-left: 5px;
		margin-right: 5px;
		overflow: auto;
	}

	.navClose {
		color: #276696;
		position: absolute;
		top: -18px;
		right: 15px;
		font-size: 36px;
	}

	.navOpen {
		color: #276696;
		position: absolute;
		top: 30px;
		left: 5px;
		font-size: 36px;
	}

	/* GENERAL */
	.ui-select-multiple.ui-select-bootstrap {
		min-height: 34px;
		height: auto;
		padding: .3em;
	}
	.ui-select-toggle { /*Overwrite bootstrap btn alignment*/
		text-align: left;
	}

	.minimized {
		font-size: 90%;
		width: auto !important;
	}
}