<!DOCTYPE html>
<!--suppress ALL -->
<html >
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">	
</head>

<body>
	<!-- Scripts and styling to load dhis2 menu bar -->
    <style>
        html {
            font-size: 14px;
        }

        #header * {
            font-family: 'Roboto';
        }
    </style>

        
        
<div id="header"></div>

<div class="mainView">
	<div ng-view></div>
</div>

</body>
</html>