<!DOCTYPE html>
<!--suppress ALL -->
<html >
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="mainView">
	<div ng-view style="margin-top: 48px"></div>
</div>
</body>
</html>